
<form method="post">
    <div>
        Please provide comma separated values to evaluate Fizz Buzz
    </div>
    <input type="text" id="fizzBuzz" name="fizzBuzz"/>
    
    <button asp-controller="FizzBuzz" asp-action="FizzBuzz">Process</button>
</form>